.login-container {
    .login-switch-tabs {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        li {
            border: 1px solid #CCC;
            cursor: pointer;
            &:hover {
                background: pink;
            }
        }
    }
    .login-name {
        margin-right: 5px;
        padding: 5px;
        border: 1px solid;
        cursor: pointer;
    }
}